body{
    background-color: black;
    border-color: rgb(47, 51, 54) ;
    color: white;
    font-family: Arial, sans-serif;
}

.wd-bookmark-title{
    margin-left: 16px;
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
}

.wd-border{
    border-bottom: 1px solid;

}

.wd-gray-handle-title{
    color: lightgray;
    font-size:13px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 12px;
}

.wd-div-border{
    border-left: 1px solid;
    border-right:1px solid;
    margin-left:10px;
    margin-right:10px;
}

.wd-dp-round{
    border-radius: 50%;
    margin-top: 12px;
    margin-left: 16px;
    width:48px;
    height:48px;
    display: inline;
    vertical-align: middle;
    float: left;
    clear:both;
}

.wd-author-name{
    margin-top: 12px;
    margin-left: 12px;
    font-size: 15px;
    display: inline-block;

}

.wd-author-handle{
    margin-top: 12px;
    font-size: 15px;
    color:lightgray;
    display: inline-block;

}


.wd-post-content{
    font-size: 15px;
    width: 506px;
    padding-right: 16px;
    margin-bottom: 12px;
    display: inline-block;
    margin-left: 12px;
    margin-top: 0;

}

.wd-rounded-corners{
    /*border-radius: 10%;*/
    /*border:solid 1px;*/
    margin-left: 76px;

}

.wd-banner-img{
    width: 504px;
    height: 264px;
    /*padding:0;*/
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;

}

.wd-text-content{
    width: 477px;
    font-size: 15px;
    padding:12px;
    border:solid 1px;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    color: lightgray;
    margin-bottom: 12px;

}

.wd-text-title{
    /*font-size: 15px;*/
    font-weight: bold;
    color: white;

}

.wd-grid {
    font-size: 15px;
    display: inline;
    margin-left: 76px;

}

.wd-regular-grid-first {
    text-decoration: none;
    padding: 40px;
    color: rgb(110, 118, 125);
}

.wd-regular-grid-second {
    padding: 40px;
    text-decoration: none;
    color: rgb(110, 118, 125);
}

.wd-highlighted-grid-third {
    padding: 40px;
    color: red;
    font-size: 22px;
    text-decoration: none;
    /*color: rgb(110, 118, 125);*/
}

.wd-regular-grid-fourth {
    padding: 40px;
    font-size: 25px;
    color: rgb(110, 118, 125);
    text-decoration: none;
}

.wd-numbers{
    margin-left: 12px;
    font-size:15px;
}

.wd-dots {
    float: right;
    margin-right: 12px;
    display: inline;
    color: rgb(29, 161, 242);
    vertical-align: top;
}

.wd-dots-grey {
    float: right;
    margin-right: 12px;
    display: inline;
    color: lightgray;
    vertical-align: top;
}

.wd-verified {
    display: inline;
    color: dodgerblue;
}