.wd-search-tuiter {
    display:flex;
    flex-direction: row;
    align-items: center;

}

.wd-search-input{

    display:flex;
    flex-direction: row;
    align-items: center;
    border:1px solid lightgray;
    padding-left: 10px ;
    width: 100%;
}
