.wd-rounded-top{
    border-top-right-radius: 15px;
    border-top-left-radius:15px;
    border: 1px gray solid ;
    /*border-radius: 15px;*/
}

.wd-rounded-bottom{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius:15px;
    border: 1px gray solid ;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    background-color: black;

}

p{
    margin: 0;
    font-size: medium;
}

body{
    background-color: black;
}
